* {
  box-sizing: border-box;
}

body{
    background-color: hsla(48, 23%, 70%, 0.614);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#myH1{
    
    color: rgb(103, 61, 9);
    margin: 0;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(77, 71, 46, 0.666);
}
#container{
    border: 0.1px solid rgb(102, 103, 75);
    padding: 5px;
    box-shadow: 2px 2px 5px;
    background-color: rgba(102, 103, 75, 0.075);
}
#myInput,#addBtn{
    font-size: 1.5rem;
}
#addBtn{
    background-color: rgba(165, 118, 42, 0.61);
    color: white;
    border: 0;
    border-radius: 7px;
}
#addBtn:hover{
    background-color: rgba(140, 101, 38, 0.612);
    cursor: pointer;
    
}
#addBtn:active{
    background-color: rgba(140, 101, 38, 0.789);
    cursor: pointer;
    
}
li{
    margin-bottom: 10px;
    color: rgb(92, 59, 19);
}
span{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    
}
.checkBox{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.checkBox.hover{
    cursor: pointer;
}

.deleteBtn{
    font-size: 15px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}
.deleteBtn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: 0 0 5px;
    border-radius: 5px;
}
.deleteBtn:active{
    background-color: rgba(255, 255, 255, 0.373);
}